@media only screen and ( max-width: 768px ){

    // Lista de produtos
    div.product-list{
        > div.wrapper{
            @include flex-flow( row wrap );
            @include justify-content( center );
            div.col-right{
                margin: 20px 0;
                @include flex-basis( 100% );
                @include justify-content( center );
            }
        }
        ul.product-list{
            padding: 0 10px;
            li div.product-box div.see-details{
                opacity: 1;
            }
        }
    }

    // Header{
    header#header div.top-header-wrapper{
        @include flex-flow( row wrap );
    }

    // Detalhe do produto
    section#main div.product-detail>div.col-right.product-infos>div.product-price{
        @include flex-direction( column );
    }
    
    // generic infos
    section#main div.store-generic-infos{
        padding: 20px 15px;
    }

    // Footer
    footer#footer > div.wrapper,
    footer#footer > div.wrapper:nth-child(2),
    footer#footer > div.wrapper:last-child{
        padding: 20px 15px;
    }

}

@media only screen and ( max-width: 480px ){

    header#header{
        div.overlay-mob-menu{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba( 0, 0, 0, .5 );
            z-index: 4;
        }
        div.mob-menu{
            display: block;
            width: 30px;
            height: 40px;
            margin: 0 10px;
            @include flexbox;
            @include justify-content( center );
            @include align-items( center );
            span{
                width: 100%;
                height: 2px;
                background-color: $gray0;
                display: block;
                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $gray0;
                    display: block;
                    position: relative;
                    top: -7px;
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $gray0;
                    display: block;
                    position: relative;
                    top: 5px;
                }
            }
        }
        div.top-header-wrapper{
            position: fixed;
            height: 100vh;
            top: 0;
            left: 0;
            width: 0%;
            background-color: $gray1;
            z-index: 5;
            overflow: hidden;
            @include flex-direction( column );
            @include align-items( flex-start );
            @include justify-content( flex-start );
            @include transition( width 200ms );
            > div{
                display: none;
                width: 100%;
                padding: 15px;
                border-bottom: 1px dotted $gray0;
                @include flex( 0 );
            }
            &.ativo{
                width: 80%;
                @include transition( width 200ms );
                > div{
                    display: block;
                }
            }
            > div.search button,
            > div.search input{
                display: inline-block
            }
        }
        div.header-wrapper>div.main-menu{
            width: 100%;
            nav{
                width: 100%;
                ul{
                    width: 100%;
                    @include flex-direction( column );
                    border: none;
                    li{
                        text-align: center;
                        border-bottom: 1px solid $gray1;
                        padding: 5px 0;
                        display: none;
                        a{
                        }
                        &:first-of-type{
                            display: block;
                            border-top: 1px solid $gray0;
                            border-bottom: 1px solid $gray0;
                            a{
                                color: $gray0;
                                font-size: 1.2em;
                            }
                            &::after{
                                content: '>';
                                border: none;
                                height: auto;
                                top: 7px;
                                right: initial;
                                left: 38%;
                            }
                        }
                    }
                }
            }
        }
    }

    section#main{
        div.product-detail{
            @include flex-direction( column );
            >div.col-left.images-wrapper{
                @include flex-direction( column );
                >div.main-image img{
                    width: 50%;
                }
                >div.thumbs ul{
                    @include flex-direction( row );
                    li{
                        height: 100px;
                        @include flex();
                        @include flexbox;
                        @include align-items( center );
                        @include justify-content( center );
                        img{
                            max-width: 80px;
                        }
                    }
                }
            }
        }

        div.store-generic-infos{
            ul{
                @include flex-flow( row wrap );
                @include align-items( center );
                li{
                    @include flex-basis( 50% );
                    border-right: none;
                    &:first-child,
                    &:nth-of-type(2){
                        padding-bottom: 20px;
                        border-left: none;
                        border-bottom: 1px solid $gray1;
                    }
                    &:first-child,
                    &:nth-of-type(3){
                        border-right: 1px solid $gray1;
                    }
                    &:nth-of-type(3),
                    &:nth-of-type(4){
                       padding-top: 20px;
                    }
                }
            }
        }
    }

    footer#footer{
        padding-top: 20px;
        >div.wrapper:first-child{
            padding-bottom: 0;
            >div{
                @include flex-direction( column );
                div[class^="col-"]{
                    text-align: center;
                    margin-bottom: 20px;
                    &.social-media ul{
                        @include justify-content( center );
                    }
                }
            }
        }
        >div.wrapper:nth-child(2)>div{
            @include flex-direction( column );
            img{
                width: 100%;
            }
            >div.certificates{
                margin-top: 20px;
                @include align-self( center );
            }
        }
        >div.wrapper:last-child>div small{
            font-size: .5em;
        }
    }

    div.product-list{
        >div{
            overflow-x: auto;
            ul.product-list{
                > li{
                    @include flex( 1, 0, 200px );
                }
            }
        }
        >div.wrapper{
            width: 100%;
            overflow: hidden;
            div.col-left{
                @include flex-basis( 100% );
                overflow-x: auto;
            }
        }
    }
}