@import 'variables';
@import 'mixins';
@import 'flexbox';
@import 'reset';

@font-face {
    font-family: 'Rage';
    src: url('../assets/fonts/RageItalic.eot');
    src: url('../assets/fonts/RageItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/RageItalic.woff2') format('woff2'),
        url('../assets/fonts/RageItalic.woff') format('woff'),
        url('../assets/fonts/RageItalic.ttf') format('truetype'),
        url('../assets/fonts/RageItalic.svg#RageItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Geral
body{
    font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
    color: $gray0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

// Padrão Lista de produtos
div.product-list{
    background-color: $gray1;
    width: 100%;
    @include flexbox;
    @include flex-direction( column );
    @include justify-content( center );

    &.recomendation,
    &.promotion,
    &.buy-together,
    &.professional-recommendation{
        padding-top: 40px;
    }

    > div.wrapper{
        max-width: 980px;
        margin: auto;
        @include flexbox;

        div.col-left{
            @include flex-basis( 70% );
        }

        div.col-right{
            @include flex-basis( 30% );
            @include flexbox;
            @include align-items( center );

            &::before{
                content: '=';
                margin-left: 20px;
                font-size: 1.2em;
            }

            div.price{
                span{
                    display: block;
                    margin: 0 25px;
                    &.price.from{
                        font-size: .8em;
                        text-decoration: line-through;
                    }
                    &.per{
                        font-size: 1em;
                        font-weight: 700;
                    }
                }
            }
            button.buy-button{
                color: white;
                background-color: $red0;
                padding: 10px;
                border: none;
            }
        }
    }

    > h2{
        font-size: 1.5em;
        font-weight: 700;
        margin: 10px 0;
        text-align: center;
    }

    > p{
        text-align: center;
    }

    ul.product-list{
        max-width: 980px;
        margin: 20px auto 0 auto;
        @include flexbox;
        @include align-self( center );
        li{
            background-color: white;
            padding: 15px;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            } 
            div.product-box{
                text-align: center;

                div.category{
                    margin: 10px 0;
                    h4{
                        font-size: .8em;
                    }
                }
                div.name{
                    margin-bottom: 10px;
                    h2{
                        font-weight: 700;
                        font-size: 1em;
                    }
                }
                div.price{
                    margin-bottom: 50px;
                    p{
                        font-size: 1em;
                    }
                }
                div.image{
                    img{
                        width: 100%;
                    }
                }
                div.see-details{
                    padding: 10px 0;
                    border-top: 1px solid $gray0;
                    opacity: 0;
                    @include transition();
                    a{
                        font-size: .8em;
                        color: $gray0;
                    }
                }
                &:hover{
                    div.see-details{
                        opacity: 1;
                        @include transition();
                    }
                }

                div.colors{
                    @include flexbox;
                    @include justify-content( center );
                    ul{
                        @include flexbox;
                        @include align-items( center );
                        &::before{
                            content: '<';
                            display: inline-block;
                            color: $gray-1;
                        }
                        &::after{
                            content: '>';
                            display: inline-block;
                            color: $gray-1;
                        }
                        li{
                            width: 20px;
                            height: 20px;
                            margin: 0 5px;
                            border: 1px solid $gray0;
                        }
                    }
                }
            }
        }
    }
}

// Header
header#header{
    background-color: $gray1;

    div.mob-menu,
    div.overlay-mob-menu{
        display: none;
    }
    
    div.top-header-wrapper{
        max-width: 980px;
        margin: auto;
        @include flexbox;
        @include align-items( center );

        > div{
            @include flex();
        }

        > div.search{
            @include flexbox;
            input{
                background-color: $gray-1;
                display: block;
                border: none;
                padding: 5px 10px;
            }
            button{
                border: 1px solid $gray0;
                display: block;
                padding: 4px 10px;
            }
        }

        > div.user{
            i.icon{
                width: 28px;
                height: 15px;
                display: inline-block;
                background: url('../assets/imgs/icon-login.png') no-repeat center;
                background-size: cover;
            }
            p, a{
                display: inline-block;
                font-size: 0.8em;
                padding: 0 10px;
                color: $gray0;
            }
            p{
                border-right: 1px solid $gray0;
            }
        }

        > div.wishlist{
            i.icon{
                width: 18px;
                height: 15px;
                display: inline-block;
                background: url('../assets/imgs/icon-wishlist.png') no-repeat center;
                background-size: cover;
            }
            a{
                font-size: 0.8em;
                color: $gray0;
            }
        }

        > div.top-menu{
            a{
                display: inline-block;
                padding: 0 10px;
                color: $gray0;
                font-size: 0.8em;
                &:first-of-type{
                    border-right: 1px solid $gray0;
                }
            }
        }

        > div.cart{
            background-color: black;
            text-align: center;
            padding: 5px 0;
            i.icon{
                width: 20px;
                height: 15px;
                display: inline-block;
                background: url('../assets/imgs/icon-bag.png') no-repeat center;
                background-size: cover;
            }
            span{
                font-size: .8em;
                color: white;
            }
        }
    }

    div.header-wrapper{
        width: 100%;
        background-color: white;
        padding: 20px 0 10px 0;
        border-bottom: 1px solid $gray1;
        @include flexbox;
        @include justify-content( center );
        @include align-items( center );
        @include flex-direction( column );

        > div.store-name{
            h1{
                font-family: 'Rage', Arial, Helvetica, sans-serif;
                font-size: 3em;
                text-transform: uppercase;
            }
        }

        > div.main-menu{
            margin-top: 20px;
            nav ul{
                @include flexbox;
                border-right: 1px solid lighten( $gray0, 35% );
                li{
                    a{
                        color: $gray0;
                        padding: 5px 10px;
                        display: block;
                        font-size: .8em;
                        text-transform: uppercase;
                    }
                    &:first-of-type{
                        padding: 0 20px;
                        position: relative;
                        &::after{
                            content: '';
                            height: 20px;
                            display: block;
                            border-right: 1px solid lighten( $gray0, 35% );
                            position: absolute;
                            right: 8px; 
                            top: 0;
                        }
                        a{
                            color: lighten( $gray0, 25% );
                        }
                    }
                }
            }
        }
    }

}

// Conteúdo
section#main{
    div.product-detail{
        max-width: 980px;
        margin: auto;
        @include flexbox;
        @include flex-flow();

        > div.col-left.images-wrapper{
            position: relative;
            border-right: 1px solid $gray1;
            @include flex-basis( 65% );
            @include flexbox;
            
            > div.navigation{
                position: absolute;
                top: 10px;
                left: 0;
                a{
                    color: $gray0;
                    font-size: .8em;
                }
            }

            > div.main-image{
                padding-top: 40px;
                @include flex-basis( 70% );
                @include flexbox;
                @include justify-content( center );
                @include align-items( center );
                img{
                    width: 70%;
                    display: block;
                }
            }

            > div.thumbs{
                @include flex-basis( 30% );
                ul{                        
                    @include flexbox;
                    @include flex-direction( column );
                    li{
                        height: 135px;
                        border-left: 1px solid $gray1;
                        border-bottom: 1px solid $gray1;
                        cursor: pointer;
                        @include flexbox;
                        @include justify-content( center );
                        @include align-items( center );
                        img{
                            width: 50%;
                            display: block;
                        }
                    }
                }
            }

        }

        > div.col-right.product-infos{
            @include flex-basis( 35% );
            padding: 15px;

            > div.navigation{
                width: 100%;
                margin-bottom: 20px;
                @include flexbox;
                a{
                    @include flex();
                    color: $gray0;
                    &:first-child::before{
                        content: '<';
                        border: 1px solid $gray0;
                        background-color: $gray-1;
                        height: 20px;
                        width: 20px;
                        line-height: 20px;
                        text-align: center;
                        display: inline-block;
                        margin-right: 10px;
                    }
                    &:last-child{
                        text-align: right;
                        &::after{
                            content: '>';
                            border: 1px solid $gray0;
                            background-color: $gray-1;
                            height: 20px;
                            width: 20px;
                            line-height: 20px;
                            text-align: center;
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
            }

            > div.product-name{
                margin-bottom: 15px;
                h1{
                    font-weight: 700;
                    font-size: 1.3em;
                    line-height: 1.3em;
                }
                small.product-id{
                    font-size: .7em;
                }
            }

            > div.product-description{
                overflow: hidden;
                border-bottom: 1px dotted $gray0;
                margin-bottom: 20px;
                p{
                    font-size: .9em;
                    line-height: 1.3em;
                }
                a.read-more{
                    color: $gray0;
                    border-bottom: 1px solid $gray0;
                    float: right;
                    margin: 15px 0;
                }
            }

            > div.product-colors{
                border-bottom: 1px dotted $gray0;
                margin-bottom: 20px;
                span{
                    strong{
                        font-weight: 700;
                    }
                }

                ul{
                    @include flexbox;
                    margin: 20px 00;
                    li{
                        width: 20px;
                        height: 20px;
                        border: 1px solid $gray-1;
                        margin-right: 5px;
                    }
                }
            }

            > div.product-price{
                @include flexbox;

                > div[class^="col-"]{
                    @include flex();
                }

                > div.col-left{
                    > span{
                        display: block;
                        &.price{
                            text-decoration: line-through;
                            font-size: .8em;
                        }
                        &.per{
                            font-size: 1.2em;
                            margin: 5px 0;
                        }
                    }

                    div.installment{
                        margin: 20px 0;
                        small{
                            &:first-child{
                                font-size: .8em;
                            }
                            &:last-child{
                                display: block;
                                font-size: .8em;
                                margin-top: 5px;
                            }
                        }
                        strong{
                            font-weight: 700;
                        }
                    }
                }

                > div.col-right{
                    button.buy-button{
                        width: 100%;
                        border: none;
                        background-color: $red0;
                        color: white;
                        padding: 15px;
                        font-weight: 700;
                    }

                    div.add-wishlist{
                        text-align: right;
                        margin-top: 50px;
                        i.icon{
                            width: 18px;
                            height: 15px;
                            display: inline-block;
                            background: url(../assets/imgs/icon-wishlist.png) no-repeat center;
                            background-size: cover;
                        }
                        a{
                            color: $gray0;
                            font-size: .8em;
                        }
                    }
                }
            }

            > .share-product{
                margin-top: 20px;
                @include flexbox;
                @include flex-flow( row wrap );
                > div{
                    margin-right: 10px; 
                }
            }
        }
    }

    div.comments{
        background-color: $gray1;
        padding: 50px 0;
        text-align: center;
        @include flexbox;
        @include flex-direction( column );
        @include justify-content( center );
        h2{
            font-size: 1.5em;
            font-weight: 700;
            margin: 10px 0;
            text-align: center;
        }
        > div{
            display: block;
            width: 100%;
            max-width: 980px;
            margin: 50px auto 0 auto;
        }
    }

    div.instagram-feed{
        background-color: $gray1;
        padding: 50px 0;
        @include flexbox;
        @include justify-content( center );
        @include flex-direction( column );

        > h2{
            font-size: 1.5em;
            font-weight: 700;
            margin: 10px 0;
            text-align: center;
        }

        ul{
            max-width: 980px;
            margin: auto;
        }
    }

    div.product-list.most-seen{
        padding-bottom: 40px;
    }

    div.store-generic-infos{
        padding: 40px 0;
        @include flexbox;
        @include justify-content( center );
        ul{
            width: 100%;
            max-width: 980px;
            @include flexbox;
            @include flex-flow();
            @include justify-content( center );
            li{
                border-right: 1px solid $gray-1;
                @include flex();
                @include flexbox;
                @include flex-direction( column );
                @include justify-content( center );
                @include align-items( center );
                &:first-child{
                    border-left: 1px solid $gray-1;
                }
                > div{
                    width: 100%;
                    margin-bottom: 15px;
                    min-height: 50px;
                    max-height: 50px;
                    display: block;
                    img{
                        display: block;
                        margin: auto;
                    }
                }
                p{
                    @include flex-basis( 100% );
                }
            }
        }
    }

}

// Footer
footer#footer{
    background-color: $gray1;
    padding-top: 50px;
    > div.wrapper:first-child{
        max-width: 980px;
        margin: auto;
        padding-bottom: 50px;

        > div{
            @include flexbox;
            @include flex-flow();

            > div[class^="col-"]{
                @include flex;
                @include flexbox;
                @include flex-direction( column );
                
                h4{
                    color: $red0;
                    font-size: 1em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                &.social-media{
                    h4{
                        color: $gray0;
                    }
                    ul{
                        @include flexbox;
                        li{
                            margin-right: 10px;  
                        }
                    }
                }

                &.newsletter{
                    padding: 20px 0;
                    border-top: 1px solid $gray0;
                    h4{
                        color: $gray0;
                    }
                    div.input-wrapper{
                        margin-top: 15px;
                        input{
                            border: none;
                            background-color: $gray-1;
                            padding: 10px;
                            width: 80%;
                            display: inline-block;
                        }
                        button{
                            width: 18%;
                            border: 1px solid $gray0;
                            background-color: transparent;
                            padding: 8px 0;
                            display: inline-block;
                        }
                    }
                }

                ul{
                    li{
                        padding-bottom: 5px;
                        a{
                            color: $gray0;
                            font-size: .8em;
                            &:hover{
                                border-bottom: 1px solid $gray0;
                            }
                        }
                    }
                }
            }
        }
    }

    > div.wrapper:nth-child( 2 ){
        background-color: white;
        padding: 20px 0;

        > div{
            max-width: 980px;
            margin: auto;
            border-bottom: 1px dotted $gray0;
            padding-bottom: 20px;
            @include flexbox;

            > div{
                @include flex();
                &.certificates{
                    @include flexbox;
                    @include justify-content( flex-end );
                    img{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    > div.wrapper:last-child{
        background-color: white;
        padding-bottom: 20px;
        > div{
            max-width: 980px;
            margin: auto;
            text-align: center;
            small{
                display: block;
                font-size: .7em;
                line-height: 1.5em;
            }
        }
    }
}

// Responsivo
@import 'responsive';